h1{
    color: blue;
    font-weight: bold;
    position: absolute; /* Posicionamento absoluto */
    top: 5%; /* 50% do topo */
    left: 50%; /* 50% da esquerda */
    transform: translate(-50%, -50%); /* Translada a div de volta -50% do seu próprio tamanho em ambas as direções */
    
}
form{
    font-weight: bold;
    font-size: 20px;
}
label{
    font-weight: bold;
}

body{
    background-color: #cccccc;
}
form {
     position: absolute; /* Posicionamento absoluto */
    top: 50%; /* 50% do topo */
    left: 50%; /* 50% da esquerda */
    transform: translate(-50%, -50%); /* Translada a div de volta -50% do seu próprio tamanho em ambas as direções */
    
}

input{
    padding: 2px;
    border: 1px solid;
    border-radius: 10px;
    
    
}
fieldset{
    border: solid;
    border-color: black;
    border-radius: 25px;
}
#enviar{
    position: absolute; /* Posicionamento absoluto */
    top: 80%; /* 50% do topo */
    left: 50%; /* 50% da esquerda */
    transform: translate(-50%, -50%); /* Translada a div de volta -50% do seu próprio tamanho em ambas as direções */
    border: solid;
    border-radius: 25px;
}
#resumo{
    position: absolute; /* Posicionamento absoluto */
    top: 80%; /* 50% do topo */
    left: 60%; /* 50% da esquerda */
    transform: translate(-50%, -50%); /* Translada a div de volta -50% do seu próprio tamanho em ambas as direções */
    border: solid;
    border-radius: 25px;
}